<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %> 
    <h1>404 not found</h1>
    <p>Thisi page doesn't exist</p> 
    <%- include('./partials/footer.ejs')  %>   
</body>
</html>